* {
  padding: 0%;
  margin: 0px;
}
.flex {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d4e0ed ;
  margin: auto;
  align-items: center;
}

.qr {
  background-color: white;
  margin: auto;
  justify-content: center;
  width: 320px;
  border-radius: 10px;
}
.img {
  height: 280px;
  width: 280px;
  margin: 20px;
  border-radius: 10px;
}
h1 {
  color: black;
  font-size: 22px;
  text-align: center;
  padding: 0 29px 20px 29px;
}

p {
  color: black;
  opacity: 0.5;
  font-size: 12px;
  text-align: center;
  padding: 0 29px 15px 29px;
}
